
.P{
   font-size: 70px; 
}
.D{
    display: flex;
    justify-content: center;
    width: 50%;
    flex-direction: column;
    padding-left: 20px;
    
    
   
}
body{
    margin: 0px;
    padding: 0;
    display: flex;
    background-color: lightgray;
}